{
  "presets": ["@babel/preset-env"],
  "env": {
    "build": {
      "plugins": [
        "@babel/plugin-transform-react-jsx",
      ]
    },
    "test": {
      "plugins": [
        "istanbul",
      ]
    }
  }
}